<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{header_title}}</h1>
        </header>
        <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('clients_result') }}">Clients result</a></li>
                    <li><a href="{{ url_for('server_result') }}">Server result</a></li>
                </ul>
            </nav>
        <section>
            <div class="server_status">
                {% block server_param%}
                {%endblock %}
                {% block server_form%}
                {%endblock %}
            </div>
            <div class="clients_status">
                <div class="client-container">
                    {%block client_status%} 
                    {%endblock %}
                    {%block client_form%}
                    {%endblock %}
                </div>
                {%block clients_table%}
                {%endblock %}
            </div> 
        </section>
        <footer>

        </footer>
    </div>
</body>
<script src="../static/index.js"></script>
</html>