<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{header_title}}</h1>
        </header>
        <section>
            <div class="server_status">
                <h2 class="server_status_text">
                    {{server_status_text}}
                </h2>
                <div class="server_status_container">
                    {%if result|length!=0%}
                       RUNNING
                    {%else%}
                        IDLE
                    {% endif %}
                </div>
                {% block form%}
                    {% if data|length==0 %}
                    <form action="{{ url_for('home_page')}}" method="post">
                        <label for="lr">Learning rate:</label><br>
                        <input type="number" step="any" id="lr" name="lr" placeholder="0.001"><br>
                        <label for="epochs">Epochs:</label><br>
                        <input type="number" id="epochs" name="epochs" placeholder="5"><br>
                        <label for="epochs">Batch size:</label><br>
                        <input type="number" id="batch_size" name="batch_size" placeholder="32"><br>
                        <label for="optim">Optimizer:</label><br>
                        <input type="text" id="optim" name="optim" placeholder="SGD"><br>
                        <button onclick="startServer()" class="server_status_start">
                            Start server
                        </button>
                    </form>
                    {% else %}
                        <div>
                            <p>Learning rate: {{data['lr']}}</p>
                            <p>Epochs: {{data['epochs']}}</p>
                            <p>Batch size: {{data['batch_size']}}</p>
                            <p>Optimizer: {{data['optim']}}</p>
                        </div>
                        <button onclick="startLearning()">Start Learning</button>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="clients_status">
                <div class="clients_status_text_container">
                    <h3 class="clients_status_text">
                        {{clients_status_text}}
                    </h3>
                    {%if clients|length == 0 %}
                        <p class="clients_status_text_not_found">
                            {{clients_status_text_not_found}}
                        </p>
                    {%else%}
                        <p class="clients_status_text_not_found">
                            Clients: 
                        </p>
                    {%endif%}
                    <a href="/">
                        <button class="clients_status_refresh" on>
                                <i class="fa fa-refresh"></i>  
                        </button>
                    </a>
                    {%if clients|length != 0 %}
                        <table id="clients">
                            <tr>
                                <th>ID</th>
                                <th>Client url</th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Delete</th>
                            </tr>
                            {%for client in clients %}
                                <tr id={{client['id']}}_client>
                                    <td>{{client['id']}}</td>
                                    <td>{{client['client_url']}}</td>
                                    <td>{{client['status']}}</td>
                                    <td>details</td>
                                    <td><button onclick="deleteUser(event.target)">Delete client</button></tr>
                                </tr>
                            {%endfor%}
                        </table>
                    {%endif%}
                </div>
                <!-- <div class="clients_status_training">
                    <button  class="clients_status_training_dropbtn" onclick="clickDropDown()">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#" class="training_option">Link 1</a>
                      <a href="#" class="training_option">Link 2</a>
                      <a href="#" class="training_option">Link 3</a>
                    </div>
                </div> -->
            </div>
        </section>
        <footer>

        </footer>
    </div>
</body>
</html>